.card {
    background: whitesmoke;
    height: 75px;
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    color: black;
    height: fit-content;
}

.leftCardItem {
    margin-left: 10px;
}

.rightCardItem {
    margin-right: 10px;
}


.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.itemList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.itemContainer {
    display: flex;
    flex-direction: row;
}

.expandButton {
    font-size: 18px;
    text-align: center;
    border: none;
    font-weight: bolder;
    color: black;
    background-color: white;
    cursor: pointer;
    padding: 5px 10px;
    height: fit-content;
    border: 2px solid;
    border-color: black;
    border-radius: 7px;
    transition-duration: .15s;
}

.expandButton:hover {
    background-color: black;
    color: white;
}

.labelContainer {
    height: fit-content;
    width: fit-content;
    background-color: darkgreen;
    color: white;
    align-items: center;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}