body {
    background: rgb(128, 128, 128);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardList {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    align-items: center;
}

.addCardButton {
    font-size: 18px;
    text-align: center;
    border: none;
    font-weight: bolder;
    color: black;
    background-color: whitesmoke;
    cursor: pointer;
    padding: 5px 10px;
    height: fit-content;
    border-radius: 7px;
    transition-duration: .15s;
}

.addCardButton:hover {
    background-color: black;
    color: white;
}

.headerRow {
    display: flex;
    width: 50%;
    flex-direction: row-reverse;
}