.card {
    background: rgb(255, 255, 255);
    height: 75px;
    width: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    outline-color:rgb(0, 0, 0);
    outline-style: solid;
    height: fit-content;
}

.leftCardItem {
    margin-left: 10px;
}

.rightCardItem {
    margin-right: 10px;
}


.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.detailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.expandButton {
    font-size: 18px;
    text-align: center;
    border: none;
    font-weight: bolder;
    color: white;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 5px 10px;
    height: fit-content;
    border-radius: 7px;
}

.statusContainer {
    height: fit-content;
    width: fit-content;
    background-color: darkgreen;
    color: white;
    align-items: center;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}